* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e6faff;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(3, 5, 6);
    padding-top: 0;
}

/* Navbar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 15px 20px;
    z-index: 1000;
    border-bottom: 2px solid #00c6ff;
}

nav a {
    color: #00eaff;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    filter: brightness(160%);
}

h1 {
    text-align: center;
    font-size: 45px;
    margin: 30px auto;
    font-weight: bold;
    color: #0f0a0a;
    width: fit-content;
    padding: 18px 50px;
    border: 4px solid #00c6ff;
    border-radius: 60px;
    background: rgba(255,255,255,0.10);
    box-shadow: 0px 0px 20px rgba(0,198,255,0.6);
}

h2 {
    text-align: center;
    font-size: 28px;
    margin: 25px auto;
    width: fit-content;
    padding: 12px 30px;
    border: 3px solid #00c6ff;
    border-radius: 50px;
    background: rgba(255,255,255,0.12);
    box-shadow: 0px 0px 15px rgba(0,198,255,0.5);
}

img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #333;
    display: block;
    margin: 20px auto;
}

section, ul, ol {
    background: rgba(255,255,255,0.12);
    width: 80%;
    margin: 15px auto;
    padding: 20px;
    border-radius: 12px;
    font-size: 18px;
    box-shadow: 0px 0px 15px rgba(0,198,255,0.2);
}

li {
    margin: 10px 0;
    font-size: 19px;
    font-weight: bold;
    color: #03090a;
}

.contact {
    text-align: center;
    font-size: 20px;
    width: fit-content;
    padding: 12px 25px;
    border-radius: 40px;
    background: rgba(0,198,255,0.2);
    margin: 20px auto;
    font-weight: bold;
    border: 2px solid #00c6ff;
}

a {
    color: #00eaff;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    filter: brightness(160%);
}

footer {
    text-align: center;
    padding: 20px;
    background: rgba(0,0,0,0.4);
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 30px;
    border-top: 2px solid #00c6ff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
